.try ul {
    list-style: none;
  }
  .try ul li::before {
    content: "\2022";
    color: #131520;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }  
.try {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin-left:160px;
    margin-right: 160px;
}
.try ul li:hover{
    background-color: rgb(10, 175, 167);
}
.kk{
  margin: 13px;
}
/* hadi dyal gestion de projet personnel*/
.gpp{
  margin-left: 160px;
}
.gpp h3{
  margin-left: 500px;
}

b{
    font-size: 24px;
    color: #000000;
}
.button-20 {
appearance: button;
background-color: #242943;
background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
border: 1px solid #242943;
border-radius: 1rem;
box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
box-sizing: border-box;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font-family: Inter,sans-serif;
font-size: 1rem;
font-weight: 500;
line-height: 1.5;
margin: 0;
padding: .5rem 1rem;
text-align: center;
text-transform: none;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: middle;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
outline: 0;
}

.button-20:hover {
background-color: #242943;
border-color: #242943;
}

.button-20:focus {
background-color: #242943;
border-color: #242943;
box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:active {
background-color: #242943;
background-image: none;
border-color: #242943;
box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:disabled {
background-image: none;
box-shadow: none;
opacity: .65;
pointer-events: none;
}
/* hadi dyal footer lt7t*/
.icons{
  width: 70%;
  margin-left: 250px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  
}